#general
~*
*.bak

#vscode
.vscode/
tempCodeRunnerFile*
.favorites.json

#LFK
*_MTK/

#python
*.pyc
build/
dist/

#output directory
out-*/
out/
out-*

#app
applet/invest_sim/data
applet/invest_sim/cache
applet/invest_sim-shihpin/


